body {
  background-color: #fcefff;
  font-family: sans-serif;
}
header {
  text-align: center;
}
h1 {
  font-family: "Roboto";
  color: #6f00ff;
  font-size: 50px;
  padding-top: 15px;
}
img {
  width: 250px;
  margin: -30px 0px;
}
main {
  background-color: #8400ff;
  width: 720px;
  padding: 20px;
  margin: 40px auto;
  color: #ffffff;
  border-radius: 7px;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  padding-left: 15px;
  margin: 8px;
  border-left: 4px solid #ffae00;
  color: #fff38c;
}
main p {
  padding-left: 15px;
  margin: 8px;
  color: #ffffff;
  border-left: 4px solid transparent;
}
main a {
  text-decoration: none;
  color: #fdaf06;
  font-weight: bold;
}
main a:hover,
main a:active {
  color: #ffffff;
  text-decoration: underline;
}
footer {
  text-align: center;
  margin-top: 4px;
}
footer a {
  text-decoration: none;
  background-color: #fdaf06;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: bold;
}
footer a:hover,
footer a:active {
  background-color: #ffffff;
  color: #fdaf06;
}
footer p {
  padding: 7px 0px;
  font-size: 16px;
  color: #6b6b6b;
}
#title {
  font-size: 30px;
  box-shadow: 4px 4px 20px rgb(27, 27, 27);
  text-align: center;
  padding: 5px;
}
#note {
  font-family: sans-serif;
  font-size: 15px;
  color: #cecdcd;
}
code {
  font-size: 15px;
}
footer a:hover {
  box-shadow: 4px 4px 2px #fdaf0647;
}
