body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(79, 78, 78);
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#logo {
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30);
  padding: 0.6% 2%;
}

.main-header ul {
  display: flex;
}

.main-header li {
  margin: 0 1rem;
}
.main-header nav ul li a {
  color: white;
  font-size: 1.1rem;
}
main h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
#main-content {
  width: 50%;
  margin: 50px auto;
}

#main-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#main-content ul li img {
  height: 10rem;
  width: 100%;
}
