body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#main-header {
  background-color: rgb(29, 26, 24);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#logo {
  color: orange;
  font-size: 1.5rem;
  font-weight: bold;
}

#main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: orange;
  font-size: 1.25rem;
}

#main-header nav a:hover {
  color: rgb(207, 135, 1);
}

h1 {
  text-align: center;
  color: orange;
  font-size: 3rem;
}
.products {
  width: 80%;
  margin: 4rem auto;
}

.products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.food-item {
  background-color: antiquewhite;
  border-radius: 8px;
  overflow: hidden;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-content {
  padding: 0 1rem 1.8rem 1rem;
  text-align: center;
}

.btn {
  background-color: orange;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(221, 132, 34);
}
