body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(79, 78, 78);
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#logo {
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30);
  padding: 1% 2%;
}

.main-header ul {
  display: flex;
}

.main-header ul li a {
  color: white;
}
