* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  text-align: center;
  margin: 2rem;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1rem;
}

main {
  text-align: center;
  width: 70%;
  background-color: rgb(249, 255, 196);
  padding: 2rem;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.333);
}

main p {
  margin: 1rem 0;
}

main button {
  background-color: rgb(226, 242, 0);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins";
}
