* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(52, 52, 52);
  font-family: sans-serif;
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c63ff;
  background-color: white;
  height: 50px;
  padding: 10px 20px;
  box-shadow: 0 1px 20px -2px rgb(185, 185, 185);
  z-index: 2;
  position: relative;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  padding: 0 10px;
}

nav li a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

nav li a:hover {
  color: #6c63ff;
}

#logo {
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(52, 52, 52);
}

#first-content {
  display: flex;
  padding: 80px 100px;
  background-color: rgb(245, 245, 245);
}

#content {
  padding: 0 80px;
  margin: auto;
}

#first-content img {
  width: 400px;
}

header p,
main p {
  padding: 10px 0;
  margin-bottom: 10px;
}

#button a {
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

#button a:hover {
  background-color: #473eff;
}

#facilities {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
  margin: 50px auto;
  align-items: center;
}

.box {
  border: 2px solid #6c63ff;
  border-radius: 4px;
  padding: 30px 10px;
}

#about-us {
  display: flex;
  background-color: rgb(245, 245, 245);
  padding: 30px 80px;
}

.about-us-content {
  margin: auto;
}

#about-us p {
  padding-right: 30px;
}

#about-us img {
  width: 350px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.404);
}

footer {
  background-color: rgb(36, 36, 36);
  color: rgb(148, 148, 148);
  padding-top: 25px;
  padding-bottom: 10px;
}

.slogn {
  margin-bottom: 20px;
  margin-top: 3px;
}

#footer-content {
  text-align: center;
}

#footer-icons ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-icons li {
  padding: 0 25px;
}

#footer-icons li img {
  width: 30px;
  opacity: 0.5;
}

#copyright {
  margin-top: 10px;
  text-align: center;
}

#services-list {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
  margin: 50px auto;
  align-items: center;
}

#doctors-content {
  text-align: center;
  padding: 50px;
  background-color: rgb(245, 245, 245);
}

#doctors-content h2 {
  margin-bottom: 10px;
  display: inline;
  border-bottom: 2px dashed rgb(36, 36, 36);
}

#doctors-content p {
  padding: 20px 180px;
}

.doctors-profile {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.doctors-profile img {
  width: 300px;
}

.doctors-profile-content {
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.543);
  border-radius: 4px;
  overflow: hidden;
}

.doctors-profile-content h2 {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

#btn {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}
#btn a {
  text-decoration: none;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
}

#btn a:hover {
  background-color: #473eff;
}

.blog-content {
  margin: 0 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.208);
  border-radius: 4px;
  overflow: hidden;
}

.blog-content img {
  height: 200px;
  object-fit: cover;
}

.blog-content h2 {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

#first-content a {
  text-decoration: none;
}

.blogs a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
