code {
  color: #d8d7d7;
}
#bullet li {
  list-style-type: disc;
  color: #ffffff;
  border: none;
  margin-left: 22px;
}
.para {
  margin-left: 22px;
}
#bullet code {
  margin-left: 20px;
  color: #d8d7d7;
}
